body {
	font-family : sans-serif;
}

.container {
	width : 480px;
	height : 480px;
	background : rgba(150,150,150,0.5);
	margin : 8px 0;
}

.qr-container {
	width : 196px;
	height : 196px;
}

.result {
	background : rgba(150,150,150,0.25);
	padding : 8px;
}

.error {
	color : red;
}

.tab {
	display : inline-block;
	padding : 8px;
	background : rgba(20,120,220,0.25);
	margin-right : 8px;
	cursor : pointer;
}

input {
	padding : 8px;
	margin : 16px 8px;
}